* {
    margin: 0;
}

h1, h2 {
    text-align: center;
    margin-bottom: 50px;
}

/* Add your custom styles here */
canvas {
    border: 1px solid #000;
    display: block;
    margin: 0 auto; /* Center the canvas */
    width: 90%; /* Adjust canvas width */
    max-width: 480px; /* Set maximum canvas width */
}



Button {
    text-align: center;
}
