* {
    margin: 0;
}

h1, h2 {
    text-align: center;
    margin-bottom: 50px;
}

canvas {
    border: 1px solid #000;
    display: block;
    margin: 0 auto; /* Center the canvas */
    max-width: 480px; /* Set maximum canvas width */
    width: 90vw; /* Adjust canvas width to 90% of viewport width */
    height: 90vh; /* Adjust canvas height to 90% of viewport height */
    max-height: 320px; /* Set maximum canvas height */
}

Button {
    text-align: center;
}

/* Media query for desktop screens */
@media (min-width: 768px) {
    canvas {
        width: 480px; /* Set fixed canvas width for desktop */
        height: 320px; /* Set fixed canvas height for desktop */
    }
}
