* {
    margin: 0;
}

h1, h2 {
    text-align: center;
    margin-bottom: 50px;
}

/* Board Styling */
canvas {
    border: 1px solid #000;
    display: block;
    margin: 0 auto; /* Center the canvas */
}


Button {
    text-align: center;
}
